<nav class="navbar navbar-expand-lg navbar-light bg-morado sticky-top">
    <a class="navbar-brand" href="#"><img class="img-logotipo" src="images/img-logotipo.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
           
           
        </ul>
    <a href="/login" class="btn btn-outline-secondary">LogIn</a>
    </div>
</nav>
<div class="bg-container">

    <div class="container">
       
        <div class="row">
            <div class="col ">
                <div class="left-content">
                    <h1 class="headline">
                        Adoptar una mascota
                        es la mejor decisión de tu vida
                    </h1>
                    
                </div>
                <a href="/signup" class="m-auto max-button btn btn-lg btn-block btn-outline-primary btn-primary-outlet btn-circle">Inscribirme</a>
            </div>
            <div class="col d-none d-sm-block">
                
            </div>
        </div>
    </div>
</div>

<div class="key-selling container">
    <div class="row">
        <div class="col text-center">
            <h3>En 3 pasos puedes conocer al amor de tu vida</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
            <img class="img-responsive ico-key" src="images/ico-key-1.svg">
            <h3>1. Inscríbete</h3>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
            <img class="img-responsive ico-key" src="images/ico-key-2.svg">
            <h3>2. Haz Match</h3>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
            <img class="img-responsive ico-key" src="images/ico-key-3.svg">
            <h3>3. Adopta</h3>
        </div>
    </div>

</div>

<div class="history">
    <div class=" container">
        <div class="row">
            <div class="col text-center">
                <h3>Historia del mes</h3>
            </div>
        </div>
        <div class="row historia-interna">
            <div class="col">
                
                    <img class="img-responsive rounded-img" src="images/img-historia.jpg">
                    <h3>Luis y Serafina</h3>
            </div>
            <div class="col">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis ullamcorper convallis. Pellentesque porttitor
                justo ante, vitae pellentesque turpis fringilla ut. Curabitur vitae semper metus. Nam lacus diam, egestas eu lacinia
                et, lacinia vel justo. Suspendisse et pulvinar justo. Sed fermentum turpis non purus pharetra, sed tempor dui pulvinar.
                Nam lobortis commodo ligula non tempor. Integer aliquam suscipit nibh, id aliquam mi egestas in.</p>
            </div>
        </div>
    </div>

</div>




