<nav class="navbar navbar-expand-lg navbar-light bg-morado sticky-top">
    <a class="navbar-brand" href="#"><img class="img-logotipo" src="images/img-logotipo.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/mascotas">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mascotas/my_pets/all">Mis Mascotas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Log Out</a>
            </li>

        </ul>
        <button type="button" class="btn btn-outline-secondary">Primary</button>
    </div>
</nav>
<div class="container">
    <h1>Tus mascotas</h1>
    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <img class="logotipo rounded-circle align-center" src="https://pbs.twimg.com/profile_images/700451535994671104/YkR_JUwH_400x400.png">
                <h5>Nombre: {{this.nombre}}</h5>
                <h5>Edad: {{this.edad}}</h5>
                <h5>Status: {{this.status}}</h5>

                <a class="card-link" href='/mascotas/{{this._id}}'>Ver más</a>
                <a class="card-link" href="#" type="submit">remove</a>
            
                
            

        

            </div>
        </div>

    </div>
</div>