<form action="/mascotas" method="POST">
    <label for="nombre">Name</label>
    <input type="text" name="nombre" value="" placeholder="escribe un nuevo nombre" />
    <label for="edad">edad</label>
    <input type="number" name="edad" value="" placeholder="escribe la edad" />
    <label for="caracteristicas">caracteristicas</label>
    <input type="text" name="caracteristicas" value="" placeholder="escribe las caracteristicas">
    <label for="descripcion">descripcion</label>
    <input type="text" name="descripcion" value="" placeholder="escribe la descripcion">
    <label for="raza">raza</label>
    <input type="text" name="raza" value="" placeholder="escribe la raza">
    <label for="talla">talla</label>
    <input type="text" name="talla" value="" placeholder="escribe la talla">
    <label for="image">image</label>
    <input type="text" name="image" value="" placeholder="escribe la image">
    <label for="lugarAdopcion">Lugar de adopcion</label>
    <input type="text" name="lugarAdopcion" value="" placeholder="escribe la image">
    <label for="horasVisitas">Horas de visita</label>
    <input type="text" name="horasVisitas" value="" placeholder="horas de Visitas">
    <label for="mail">Mail</label>
    <input type="text" name="mail" value="" placeholder="escribe tu mail">
    <label for="requerimientos">Requerimientos</label>
    <input type="text" name="requerimientos" value="" placeholder="escribe los requerimientos">

    <button type="submit">Agregar</button>
</form>