<form action="/mascotas" method="POST">
    <label for="nombre">Name</label>
    <input type="text" name="nombre" value="" placeholder="escribe un nuevo nombre" />
    <label for="edad">edad</label>
    <input type="number" name="edad" value="" placeholder="escribe la edad" />
    <label for="caracteristicas">caracteristicas</label>
    <input type="text" name="caracteristicas" value="" placeholder="escribe las caracteristicas">
    <label for="descripcion">descripcion</label>
    <input type="text" name="descripcion" value="" placeholder="escribe la descripcion">
    <label for="raza">raza</label>
    <input type="text" name="raza" value="" placeholder="escribe la raza">
    <label for="talla">talla</label>
    <input type="text" name="talla" value="" placeholder="escribe la talla">
    <label for="image">image</label>
    <input type="text" name="image" value="" placeholder="escribe la image">
    <label for="direccionAdopcion">direccion de adopcion</label>
    <input type="text" name="direccionAdopcion" value="" placeholder="escribe la image">
    <label for="horasInicio">horas Inicio</label>
    <input type="text" name="horasInicio" value="" placeholder="horas de Inicio">
    <label for="requerimientos">requerimientos</label>
    <input type="text" name="requerimientos" value="" placeholder="requerimientos">
    <label for="status">status</label>
    <input type="text" name="status" value="" placeholder="status">
    <label for="adoptante_id">adoptante_id</label>
    <input type="text" name="adoptante_id" value="" placeholder="status">


    <button type="submit">Agregar</button>
</form>