@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

:root {
  --text-bg-color: #333333;
  --acent-bg-color: #8230DF;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: url("../images/background.svg");
  font-weight: 100 !important;
}

h1 {
  font-size: 36px !important;
  color: var(--text-bg-color) !important;
  font-weight: 100 !important;
}

h2 {
  font-size: 26px !important;
  color: var(--text-bg-color) !important;
  font-weight: 100 !important;
}

p {
  color: var(--text-bg-color) !important;
}

img.logotipo {
  width: 111px;
  height: 111px;
}

.align-center {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.container-login {
  padding: 24px;
  margin: 5%;
  background: #fff;
  -webkit-box-shadow: 0px 3px 4px 0px #000000; 
  box-shadow: 0px 3px 4px 0px #9e9c9c;
}

.a-primary {
  color: var(--acent-bg-color) !important;
}

.btn-dark {
  color: #FFFF !important;
  background: var(--acent-bg-color) !important;
  border-color: var(--acent-bg-color) !important;
  border-radius: 100px !important;
}

.btn-primary-outlet {
  color: var(--acent-bg-color) !important;
  border-color: var(--acent-bg-color) !important;
  border-radius: 100px !important;
}

.btn-primary-outlet:hover {
  color: #FFFF !important;
  background: var(--acent-bg-color) !important;
}

input {
  padding:10px 10px 10px 5px !important;
  display:block !important;
  border:none !important;
  border-radius: 0px !important;
  border-bottom:1px solid #757575 !important;
}

input:focus { 
  outline:none; 
  border-bottom:1px solid var(--acent-bg-color) !important;
  box-shadow: none !important;
  color: var(--acent-bg-color) !important;
}

::placeholder {
  color: #757575 !important;
  opacity: 1; /* Firefox */
}

select.select-text {
  border: none;
  border-bottom: 1px solid #757575;
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

select.select-text:focus {
  border-bottom:1px solid var(--acent-bg-color);
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, var(--acent-bg-color) 50%),
    linear-gradient(135deg, var(--acent-bg-color) 50%, transparent 50%),
    linear-gradient(to right, #fff, #fff);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, var(--acent-bg-color) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, var(--acent-bg-color) 50%),
    linear-gradient(to right, #fff, #fff);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

.m-l-64 {
  margin-left: 64px !important;
}

.m-r-64 {
  margin-right: 64px !important;
}

.btn-small-width {
  width: 30% !important;
}

//round steps
ul.steps {
  padding: 0px;
  margin-top: 5px;
}

ul.steps > li {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  border-radius: 1em;
  background: var(--acent-bg-color);
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

//drag and drop upload image
.uploader {
  position: relative;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #555;
  border: 2px dashed #888;
  border-radius: 7px;
  cursor: default;
}

#photo {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
}


// landing-page


.bg-container{
  
  background-image: url("../images/img-landing.png");
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.img-logotipo{
  width: 150px;
  height: auto;
}

.bg-morado{
  background: #7F7196 !important;
}

.btn-outline-secondary {
    color: #ffffff !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #ffffff !important;
    border-radius: 50px !important;
}


.btn-outline-secondary:hover {
    color: #fff !important;
    background-color: #8230DF !important;
    border-color: #8230DF !important;
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(130,48,223,.5) !important;
}


.nav-link{
  color: #ffffff  !important;
}

.headline{
  color: #fff !important;
  font-size: 45px !important;
  font-weight: 100 !important;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4) !important; 
}

.left-content{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 400px;
   padding-top: 40%;
}

.max-button{
  max-width: 300px !important;
}


.key-selling{
  padding: 2em;
}

.ico-key{
  padding: 24px;
}

h3{
  font-weight: 100 !important
}

.rounded-img{
  width: 200px;
  height: 200px;
  border-radius: 500px;
}

.historia-interna{
  padding: 2em;
}

.history{
  background: #F8F2FF;
  padding-top: 2em;
}


.m-t-20{
  padding-top: 20px;
  
}
.card{
  margin-bottom: 20px
}
.card-animal{
  padding: 20px
}

.carousel-inner{
  height: 50vh;
}
/**
* Queries
*/

@media only screen and (max-width: 600px) {
  .btn-small-width {
    width: 100% !important;
  }

  .m-r-64 {
    margin-right: 6px !important;
  }

  .m-l-64 {
    margin-left: 6px !important;
  }


  .bg-container{
  
  background:#7F7196;
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -60px;
  text-align: center
}

.left-content{
  text-align: center
}

.m-auto{
  margin: 0 auto;
}
}