<form action="/adopcion" method="POST">
    <label for="mensaje">Mensaje</label>
    <input type="text" name="mensaje" value="" placeholder="escribe mensaje" />
    <label for="fecha_solicitud">fecha_Solicitud</label>
    <input type="text" name="fecha_solicitud" value="" placeholder="escribe fecha solicitud" />
    <label for="fecha_confirmada">fecha_Confirmada</label>
    <input type="text" name="fecha_confirmada" value="" placeholder="escribe fecha confirmada" />
    <label for="adoptado">fecha Adoptado</label>
    <input type="text" name="adoptado" value="" placeholder="escribe fecha confirmada" />
    <label for="fecha_adopcion">fecha_adopcion</label>
    <input type="text" name="fecha_adopcion" value="" placeholder="escribe fecha de adopcion" />
    <button type="submit">Agregar</button>
</form>