<form action="/usuarios" method="POST">
    <label for="nombre">Name</label>
    <input type="text" name="nombre" value="" placeholder="escribe un nuevo nombre" />
    <label for="apellido">apellido</label>
    <input type="text" name="apellido" value="" placeholder="escribe tu apellido" />
    <label for="sexo">sexo</label>
    <input type="text" name="sexo" value="" placeholder="escribe tu sexo" />
    <label for="email">email</label>
    <input type="email" name="email" value="" placeholder="escribe tu email" />
    <label for="text">contraseña</label>
    <input type="text" name="password" value="" placeholder="escribe tu contraseña" />
    <label for="text">edad</label>
    <input type="text" name="edad" value="" placeholder="escribe tu edad" />
    <label for="text">estado</label>
    <input type="text" name="estado" value="" placeholder="selecciona estado" />
    <label for="text">descripcion</label>
    <input type="text" name="description" value="" placeholder="escribe tu descripcion" />
    <label for="images">images</label>
    <input type="text" name="image" value="" placeholder="sube tu image" />
    <label for="text">facebook</label>
    <input type="text" name="facebook" value="" placeholder="sube tu image" />
    <label for="text">telefono</label>
    <input type="text" name="telefono" value="" placeholder="sube tu image" />
    <label for="text">tipo de usuario</label>
    <input type="text" name="tipo de usuario" value="" placeholder="sube tu image" />

    <button type="submit">Agregar</button>
</form>